/* adding fonts from file */
@font-face {
    font-family: 'FuturaPTMedium';
    src: url('fonts/FuturaPTMedium.otf');
}

@font-face {
    font-family: 'TiemposHeadline';
    src: url('fonts/TiemposHeadline-Regular.otf');
}

@font-face {
    font-family: 'FuturaPTLight';
    src: url('fonts/FuturaPTBook.otf');
}