/* Root */
:root {
    --primary-font: 'FuturaPTMedium';
    --secondary-font: 'TiemposHeadline';
    --primary-color: #32302f;
    --secondary-color: #fcfcfc;
    --content-max-width: 1650px;
    --site-padding: 3.2em;
}


/* Reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


/* Main header */
.main-header {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 20px;
    max-width: var(--content-max-width);
    margin: auto;
    padding: 20px var(--site-padding);

}


.header-logo {
    width: 200px;
}


.header-right {
    display: grid;
    grid-template-columns: 70% 30%;
}


.header-main-menu {
    justify-self: left;
}


.header-login {
    justify-self: right;
}

.header-main-menu ul li{
    display: inline-block;
    font-family: var(--primary-font);
    margin: 0 15px;
}

.header-main-menu ul li a {
    color: var(--primary-font);
    font-size: 18px;
    text-transform: capitalize;
}


.header-main-menu ul li > ul {
    display: none;
}